body {
    background-color: #F6ECBF;
  }

  hr {
    border-color: #CAADDE;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    height: 0px;
    width: 10%;
    }
  h1 {
    color: #F9F9F9;
  }
  h3 {
    color: #F9F9F9;
  }
  p {
    color: #C886E5;
  }
  td {
    color: #C886E5;
  }
  li {
    color: #C886E5;
  }
  label {
    color: #C886E5;
  }
